<!-- BEGIN HEADER -->
<div class="container">
  <div id="top-nav">
    <div class="logo">
      <a routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}" style="display: inline-flex;">
        <div class="logo-icon">
          <img src="assets/img/logo-icon.svg" class="logo-icon">
        </div>
        <div class="logo-text">
          <p><span class="--bold --text-primary">Language Schools</span> | Australia</p>
        </div>
      </a>
    </div>

    <div class="sign dropdown" style="float:right;">
      <img src="assets/img/icons/sign-icon.svg">
      <ul class="dropdown-content" *ngIf="this._userService.isLoggedIn() == false">
        <li>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/signup']">Sign Up</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']">Sign In</a>
        </li>
      </ul>
      <ul class="dropdown-content" *ngIf="this._userService.isLoggedIn() == true">
        <li>
          <span>{{userData.username}} ({{userData.roleLabel}})</span>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/account']">Profile</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/logout']">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</div>
<!-- END HEADER -->

<section class="section --medium">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer id="the-footer-conatiner">

  <footer class="the-footer">
    &copy; Copyright 2017.
  </footer>

</footer>