<!-- BEGIN HEADER -->
<div class="container">
  <div id="top-nav">
    <div class="logo">
      <a routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}" style="display: inline-flex;">
        <div class="logo-icon">
          <img src="assets/img/logo-icon.svg" class="logo-icon">
        </div>
        <div class="logo-text">
          <p><span class="--bold --text-primary">Language Schools</span> | Australia</p>
        </div>
      </a>
    </div>
    <div class="sign">
      <div class="sign-icon">

        <ul class="nav navbar-nav d-md-down-none">
          <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Sign Up</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Sign In</a>
          </li>
        </ul>

      </div>
      <div class="sign-text">

        <ul class="nav navbar-nav ml-auto mr-4" *ngIf="this._userService.isLoggedIn() == true">
          <li class="nav-item px-3 d-md-down-none">
            <span>{{userData.username}} ({{userData.roleLabel}})</span>
          </li>
          <li class="nav-item px-3 d-md-down-none">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/account']">Account</a>
          </li>
          <li class="nav-item px-3 d-md-down-none">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/logout']">Logout</a>
          </li>
        </ul>

        <ul class="nav navbar-nav d-md-down-none">
          <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>

          <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Sign Up</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Sign In</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
<!-- END HEADER -->

<section class="section --medium">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
