<!-- BEGIN HEADER -->
<nav id="top-nav" class="navbar fixed-top navbar-light navbar-expand-lg navbar-template">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}" style="display: inline-flex;">
      <div class="logo-icon">
        <img src="assets/img/logo-icon.svg" class="logo-icon">
      </div>
      <div class="logo-text">
        <span class="bold primary">Language Schools</span> | Australia
      </div>
    </a>

    <div class="d-flex flex-row order-2 order-lg-3">
        <ul class="navbar-nav flex-row">
            <!-- <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fa fa-linkedin"></span></a></li> -->
            <li class="nav-item" *ngIf="_hasProducts > 0">
              <a class="nav-link px-3" routerLinkActive="active" [routerLink]="['/compare']">
                <img src="assets/img/icons/menu.svg">
                <span class="badge badge-pill">{{_hasProducts}}</span>
              </a>
            </li>
            <li class="nav-item">
              <message-count></message-count>
            </li>
            <li class="nav-item sign">
              <a class="nav-link px-3">
                <img src="assets/img/icons/sign-icon.svg">
              </a>
              <ul class="dropdown-content" *showAuthed="false">
                <li>
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}">{{ 'home' | translate }}</a>
                </li>
                <li>
                  <a class="nav-link" routerlinkactive="active" (click)="signUpClicked()" style="cursor: pointer;">{{ 'signUp' | translate }}</a>
                  <!-- routerLinkActive="active" [routerLink]="['/signup']" -->
                </li>
                <li>
                  <a class="nav-link" routerlinkactive="active" (click)="signInClicked()" style="cursor: pointer;">{{ 'signIn' | translate }}</a>
                </li>
              </ul>
              <ul class="dropdown-content" *showAuthed="true">
                <li>
                  <span>{{currentUser.username}} ({{basicData.roleLabel}})</span>
                </li>
                <li>
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/account']">{{ 'profile' | translate }}</a>
                </li>
                <li>
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/logout']">{{ 'logout' | translate }}</a>
                </li>
              </ul>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><button class="nav-link" (click)="switchLanguage('en')">en</button></li>
            <li class="nav-item"><button class="nav-link" (click)="switchLanguage('pt-BR')">br</button></li>
        </ul>
    </div>
  </div>
</nav>

<!-- END HEADER -->


<sign-modal id="signinModal" #signinModal [title]="'Welcome Back!'"> 
  <div class="modal-body">
    <app-signin (onDone)="closeSignIn()"></app-signin>
  </div>
</sign-modal>

<sign-modal id="signupModal" #signupModal [title]="'Be part of the new concept of education.'"> 
  <div class="modal-body">
    <app-register></app-register>
  </div>
</sign-modal>