.title {
  font-family: "Raleway", serif;
  font-weight: 400;
  color: #6C647B;
  font-size: 18pt;
  /*margin-bottom: 0.5em;*/
  font-size: 24pt;
}

@media (min-width: 480px) {
  .title {
    font-size: 36pt;
  }
}

.subtitle {
  /*margin-bottom: 1em;*/
  font-size: 18pt;
  font-style: italic;
  color: rgba(108, 100, 123, 0.5);
  /*color: #b5b1bd;*/
}

@media (min-width: 480px) {
  .subtitle {
    font-size: 24pt;
  }
}

.card-group {
  margin-top: 4em !important;
}

.section-title {
  font-family: "Raleway", serif;
  font-weight: 400;
  color: #6C647B;
  font-size: 18pt;
  margin-bottom: 0.5em;
  font-size: 14pt;
  font-weight: 400;
  line-height: 150%;
}

@media (min-width: 480px) {
  .section-title {
    font-size: 18pt;
  }
}

.section-subtitle {
  margin-bottom: 1em;
  font-size: 12pt;
  font-style: italic;
  color: rgba(108, 100, 123, 0.5);
  line-height: 150%;
}

@media (min-width: 480px) {
  .section-subtitle {
    font-size: 14pt;
  }
}

.small-card-title h1, .big-card-title h1 {
  font-size: 2rem !important;
}

.text {
  margin-bottom: 1em;
  font-size: 12pt;
  line-height: 150%;
}

@media (min-width: 480px) {
  .text {
    font-size: 14pt;
  }
}

.text-small {
  margin-bottom: 1em;
  font-size: 8pt;
}

@media (min-width: 480px) {
  .text-small {
    font-size: 10pt;
  }
}

.--text-primary, .primary {
  color: #DD5555 !important;
}

.--text-secondary, .secondary {
  color: #b5b1bd !important;
}

.--text-center {
  text-align: center !important;
}

.--bold {
  font-weight: 700 !important;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 0.5em 0;
}

@media (min-width: 768px) {
  .section {
    padding: 1em 0;
  }
}

.container {
  width: 100%;
  padding: 0 0.5em;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }
}

hr.divisor {
  width: 80%;
  border: none;
  text-align: center;
  border-bottom: 2px solid rgba(108, 100, 123, 0.2);
}

.--medium {
  padding: 2em 0;
}
@media (min-width: 768px) {
  .--medium {
    padding: 2em 0;
  }
}

.--large {
  padding: 10em 0;
}
@media (min-width: 768px) {
  .--large {
    padding: 10em 0;
  }
}

.--hiden {
  display: none;
}

.big-cards, .small-cards {
  width: 100%;
  height: auto;
  padding: 1em 0;
  overflow-x: auto;
}

.big-card a, .small-card a {
  color: #6C647B !important;
  text-decoration: none;
}

.big-card a:hover, .small-card a:hover {
  color: #6C647B !important;
  text-decoration: none;
}

.big-cards-container, .small-cards-container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.h-scroll {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.ui-tabs.ui-widget-content {
  border: unset;
  background: transparent;
  color: #6C647B;
  padding: 0;
}

.ui-tabs .ui-widget-header {
  max-width: 100%;
  align-items: center;
  border: 1px solid rgba(108, 100, 123, 0.2);
  box-shadow: 0 2px 15px -5px rgba(108, 100, 123, 0.2);
  background: transparent;
  line-height: 5rem;
  color: #6C647B;
}

.ui-tabs .ui-tabs-nav li {
  border: unset;
  background: transparent;
  color: #6C647B;
  font-size: 1.6rem;
  font-weight: lighter;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: #DD5555;
  border-bottom: 1px solid #DD5555;
}

