<div class="search-bar-mobile hide-xs">
  <div id="search-bar-mobile-input">
    <button id="mobile-search-toggler" data-toggle="modal" data-target="#search-mobile-modal" class="mobile-input">
      <img src="assets/img/icons/search.svg" class="icon">
      <p>Find your School overseas.</p>
    </button>
  </div>
</div>
<div class="search-box search-bar no-filters" role="search">
  <form [formGroup]="_form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <div class="input-field">
        <p class="input-label">Search for...</p>
        <input type="text" class="form-control" id="term" placeholder="Enter your search" [formControl]="_form.controls['term']" [(ngModel)]="_term.q" />
      </div>
      <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Search</button>
      <div *ngIf="_submitted" class="spinner"></div>
    </div>
  </form>
</div>

<div class="row" *ngIf="_errorMessage">
  <div class="col-sm-12">
    <p class="alert alert-danger">{{_errorMessage}}</p>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!_data && !_errorMessage">
  <span class="spinner"></span>
</div>
<div class="animated fadeIn" *ngIf="_data">

  <div class="row">
    <div class="col-md-8">
      
      <!-- Nav tabs -->
      <div class="tabs">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Schools</label>
          
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Courses</label>
          
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">Tourism</label>
          
        <input id="tab4" type="radio" name="tabs">
        <label for="tab4">Work</label>

        <input id="tab5" type="radio" name="tabs">
        <label for="tab5">Lifestyle</label>
          
        <section id="content1">
          <p>
            <small-card *ngFor="let course of _data.Course" [course]="course" (click)="viewCourse(course.id)"></small-card>
          </p>
        </section>
          
        <section id="content2">
          <p>
            <small-card *ngFor="let school of _data.School" [school]="school" (click)="viewSchool(school.id)"></small-card>
          </p>
        </section>
          
        <section id="content3">
          <p>
            None here yet.
          </p>
        </section>
          
        <section id="content4">
          <p>
            None here yet.
          </p>
        </section>

        <section id="content5">
          <p>
            None here yet.
          </p>
        </section>

      </div>
    </div><!--/.col-->

    <div class="col-md-4">
      <google-map></google-map>
    </div><!--/.col-->

  </div><!--/.row-->

</div>
