<div class="search-bar-mobile hide-xs">
  <div id="search-bar-mobile-input">
    <button id="mobile-search-toggler" data-toggle="modal" data-target="#search-mobile-modal" (click)="searchModalClicked()" class="mobile-input">
      <img src="assets/img/icons/search.svg" class="icon">
      <p>Find your School overseas.</p>
    </button>
  </div>
</div>
<div class="search-box search-bar no-filters" role="search">
  <form [formGroup]="_searchForm" (ngSubmit)="onSubmit(_searchForm.value)">
    <div class="input-container">
      <div class="input-field">
        <p class="input-label">Search for...</p>
        <input type="text" class="form-control" id="term" placeholder="Enter your search" [formControl]="_searchForm.controls['term']" [(ngModel)]="_term.q">
      </div>
      <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Search</button>
    </div>
  </form>
</div>

<search-modal  #searchModal [title]="'Find your school overseas.'"> 
<div class="modal-body">
  <form [formGroup]="_searchForm" (ngSubmit)="onSubmit(_searchForm.value)">
    <div class="input-container">
      <div class="input-field">
        <p class="input-label">Search for...</p>
        <input type="text" class="form-control" id="term" placeholder="Enter your search" [formControl]="_searchForm.controls['term']" [(ngModel)]="_term.q">
      </div>
      <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Search</button>
    </div>
  </form>
</div>
</search-modal>

<!-- <div class="serch-bar-container">
  <div class="search-bar">

    <div class="where-input">
      <div class="input-label">Where</div>
      <input type="text" name="where-input" placeholder="Brisbane, QLD">
    </div>

    <div class="when-input">
      <div class="input-label">When</div>
      <div class="select-type-input">
        <input type="text" name="when-date-input" placeholder="11/18/2018 to 04/21/2019">
        <div class="icon-arrow-down"></div>
      </div>
    </div>

    <div class="course-input">
      <div class="input-label">Course</div>
      <input type="text" name="course-input" placeholder="General English">
    </div>

    <div class="accomodation-input">
      <div class="input-label">Accomodation</div>
      <div class="select-type-input">
        <input type="text" name="accomodation-type-input" placeholder="Shared House">
        <div class="icon-arrow-down"></div>
      </div>
    </div>

    <div class="search-btn-container">
      <button type="button" name="search-btn" class="btn-primary large">Search</button>
    </div>

  </div>

</div> -->