<div class="row" *ngIf="_errorMessage">
  <div class="col-sm-12">
    <p class="alert alert-danger">{{_errorMessage}}</p>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!_user && !_errorMessage">
  <span class="spinner"></span>
</div>
<div class="animated fadeIn" *ngIf="_user">
  <div class="user-profile">

    <div class="togglebox">

      <input id="toggle1" type="radio" name="toggle" checked="checked" />
      <label for="toggle1">Profile</label>
      <section id="content1" class="content">
        <div class="row">
          <div class="col-sm-12">
            
            <div class="card-group">
              <div class="card-group-title">
                <p class="title"><span class="bold">Features </span></p>
                <p class="subtitle"></p>
              </div>

              <section class="facilities">
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature on">
                      <i class="fa fa-check"></i> <?= $value->name ?>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature off"><i class="fa fa-close"></i> <?= $value->name ?></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature off"><i class="fa fa-close"></i> <?= $value->name ?></div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
                  </div>
                </div>
              </section>
            </div>

            <div class="card-group">
              <div class="card-group-title">
                <p class="title"><span class="bold">Features </span></p>
                <p class="subtitle"></p>
              </div>

              <section class="facilities">
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature on">
                      <i class="fa fa-check"></i> <?= $value->name ?>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature off"><i class="fa fa-close"></i> <?= $value->name ?></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature off"><i class="fa fa-close"></i> <?= $value->name ?></div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
                  </div>
                </div>
              </section>
            </div>

          </div>
        </div>
      </section>

      <input id="toggle2" type="radio" name="toggle" />
      <label for="toggle2">My Courses</label>
      <section id="content2" class="content">
        <p>
          Content TWO Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
        </p>
        <p>
          Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
        </p>
      </section>

      <input id="toggle3" type="radio" name="toggle" />
      <label for="toggle3">My List</label>
      <section id="content3" class="content">
        <p>
          Content THREE Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
        </p>
        <p>
          Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
        </p>
      </section>

      <input id="toggle4" type="radio" name="toggle" />
      <label for="toggle4">My Reviews</label>
      <section id="content4" class="content">
        <p>
          Content FOUR Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
        </p>
        <p>
          Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
        </p>
      </section>
    </div>

  </div>
</div>

  <!-- <div class="animated fadeIn" *ngIf="_mode == 'view'">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="view" *ngIf="_mode == 'view'">
              <strong>Your information</strong>
            </div>
          </div>
          <div class="card-block">
            <div class="form-group-wrapper">
              <div class="form-group row">
                <label class="col-sm-12">Username</label>
                <div class="col-sm-3">
                  <span  class="help-text">{{_user.username}}</span>
                </div>
              </div>
            </div>

            <div class="form-group-wrapper">
              <div class="form-group row">
                <label class="col-sm-12">Email</label>
                <div class="col-sm-3">
                  <span  class="help-text">{{_user.email}}</span>
                </div>
              </div>
            </div>

            <div class="form-group-wrapper">
              <div class="form-group row">
                <label class="col-sm-12">Last Login</label>
                <div class="col-sm-3">
                  <span  class="help-text">{{_user.last_login_at | amDateFormat: 'YYYY-MM-DD HH:mm'}} ({{_user.last_login_ip}}) </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <a [routerLink]="['/account', 'edit']" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Update information</a>
              </div>
              <div *ngIf="_errorMessage" class="col-xs-12 error-block mt-h">
                <div class="alert alert-danger">{{_errorMessage}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
