*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
  color: #DD5555;
}

button {
  cursor: pointer;
}

.app {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4F4F4F;
}

/* Grid */
.section {
  padding: 2em 0;
}

.section.is-medium {
  padding: 3em 0;
}

.section.is-large {
  padding: 5em 0;
}

/* Text */
.title {
  font-size: 20pt;
  font-family: 'Raleway', serif;
  font-family: 700;
  margin-bottom: .5em;
}

.subtitle {
  opacity: .5;
}

.muted {
  opacity: .3;
}

.bold {
  font-weight: 700;
}

.location {
  font-size: 12pt;
  font-style: italic;
  opacity: .5
}

.center {
  text-align: center;
}

/* Buttons */
.btn-primary {
  padding: 1em 2em;
  margin: 2em 0;
  display: flex;
  align-items: center;
  font-size: 14pt;
  border: none;
  border-radius: .2em;
  background-color: #DD5555;
  color: white;
}

.large {
  padding: 1em 5em
}

.rounded {
  border-radius: 200em;
}

.has-shadow {
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.5);
}

.floating-center {
  position: fixed;
  bottom: 1em;
  left: 5.2em;
}

/* Input */
.input-label {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 8pt;
}

input {
  width: 100%;
  padding: 1em 0;
  margin-bottom: 2em;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  font-size: 14pt;
  color: #4F4F4F;
}

input[type="password"] {
  margin-bottom: 1em;
}

input::placeholder {
  font-family: 'Roboto', sans-serif;
  opacity: .2;
}

.forget-pass {
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 3em;
  cursor: pointer
}

.api-sign {
  font-size: 12pt;
  text-align: center
}

.facebook-btn {
  color: #2F80ED;
  font-weight: 700;
}

.google-btn {
  color: #EB5757;
  font-weight: 700;
}

/* Components */
.card-group {
  margin-bottom: 5em;
}

.card-group-title {
  width: 100%;
  padding: 0 2em;
  margin-bottom: 2em;
}