<div class="small-card-container" *ngIf="_mode == 'course'">
  <div class="small-card">
    <!-- Image -->
    <div class="small-card-img">
      <compare-button [inCard]="true" [course]="course"></compare-button>
      <img src="{{course.media[0].image.large}}" alt="" (click)="viewCourse(course.courseId)">
    </div>

    <!-- Body -->
    <div class="small-card-body">
      <p class="small-card-title">{{course.name || course.title}}</p>
      <star-rating [rate]="course.rating"></star-rating>
      <review-count [count]="167"></review-count>
    </div>

  </div>

</div>

<div class="small-card-container" *ngIf="_mode == 'school'">
  <div class="small-card">
    <!-- Image -->
    <div class="small-card-img">
      <img src="{{school.media[0].image.large}}" alt="" (click)="viewSchool(school.schoolId)">
    </div>

    <!-- Body -->
    <div class="small-card-body">
      <p class="small-card-title">{{school.name || school.title}}</p>
      <star-rating [rate]="school.rating"></star-rating>
      <review-count [count]="250"></review-count>
    </div>

  </div>

</div>

<div class="small-card-container" *ngIf="_mode == 'none'">
  <p>Nothing found here</p>
</div>