.small-card {
  width: 250px;
  height: 380px;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.small-card-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: .5em;
  margin-bottom: .5em;
  position: relative;
}

.small-card-img img {
  max-height: 100%;
}

.small-card-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.small-card-title {
  font-size: 14pt;
  font-weight: 700;
  margin-bottom: .5em;
}