<div class="row" *ngIf="_errorMessage">
  <div class="col-sm-12">
  <p class="alert alert-danger">{{_errorMessage}}</p>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!_course && !_errorMessage">
  <span class="spinner"></span>
</div>
<div class="animated fadeIn" *ngIf="_course">
  <div class="course-view">

    <div class="row section">
      <div class="col-md-8">

        <div class="card-group">
          <div class="card-group-title">
            <p class="title"><span class="bold">{{_course.name}}, </span>at {{_course.school.name}}</p>
            <p class="subtitle">{{_course.about}}</p>
          </div>
        </div>

        <div class="card-group">
          <div class="card-group-title">
            <p class="title"><span class="bold">By Numbers </span></p>
            <p class="subtitle"></p>
          </div>

          <section class="facilities">
            <div class="row">
              <div class="col-md-4">
                <div class="feature on">Lectures: 15</div>
              </div>
              <div class="col-md-4">
                <div class="feature on">Video: 2 hours</div>
              </div>
              <div class="col-md-4">
                <div class="feature on">Tests: 3</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="feature on">Students: 98</div>
              </div>
              <div class="col-md-4">
                <div class="feature on">Skill Level: All Levels</div>
              </div>
              <div class="col-md-4">
                <div class="feature on">Languages: English</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="feature on">
                <img src="assets/img/icons/star-full.svg" class="icon">
                <img src="assets/img/icons/star-full.svg" class="icon">
                <img src="assets/img/icons/star-full.svg" class="icon">
                <img src="assets/img/icons/star-disabled.svg" class="icon">
                <img src="assets/img/icons/star-disabled.svg" class="icon">
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature on">&nbsp;</div>
              </div>
              <div class="col-md-4">
                <div class="feature on">&nbsp;</div>
              </div>
            </div>
          </section>

        </div>      

        <div class="card-group">
          <div class="card-group-title">
            <p class="title"><span class="bold">Features </span></p>
            <p class="subtitle"></p>
          </div>

          <section class="facilities">
            <div class="row">
              <div class="col-md-4">
                <div class="feature on">
                  <i class="fa fa-check"></i> <?= $value->name ?>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
              </div>
              <div class="col-md-4">
                <div class="feature off"><i class="fa fa-close"></i> <?= $value->name ?></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
              </div>
              <div class="col-md-4">
                <div class="feature off"><i class="fa fa-close"></i> <?= $value->name ?></div>
              </div>
              <div class="col-md-4">
                <div class="feature on"><i class="fa fa-check"></i> <?= $value->name ?></div>
              </div>
            </div>
          </section>
        </div>

      </div>

      <!--School & Menu-->
      <div class="col-md-4">
        <!--Card-->
        <div class='card'>
          <div class='pic' [style.background]="_bgImage">
          </div>
          <div class='content'>
            <div class='header'>
              <div class='mainTitle'>
                <h1>{{_course.school.name}}</h1>
                <h3> -- </h3>
              </div>
            </div>
            <div class="activities">
              <div class="actions">
                <a class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Compare</a>
              </div>

              <div class="actions">
                <a class="btn btn-primary">Book Now!</a>
              </div>
            </div>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--/.School & Menu-->

      <div class="card-group">
        <div class="card-group-title">
          <p class="title"><span class="bold">Content </span></p>
          <p class="subtitle"></p>
        </div>

        <section>
          <div class="togglebox">
    
            <input id="toggle1" type="radio" name="toggle" />
            <label for="toggle1">Content #1</label>
            
            <section id="content1">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>

            </section>
            
            <input id="toggle2" type="radio" name="toggle" />
            <label for="toggle2">Content #2</label>
            
            <section id="content2">
              <p>
                Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
              </p>
              <p>
                Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
              </p>
            </section>
            
            <input id="toggle3" type="radio" name="toggle" />
            <label for="toggle3">Content #3</label>
            
            <section id="content3">
              <p>
                Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
              </p>
              <p>
                Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
              </p>
            </section>

            <input id="toggle4" type="radio" name="toggle" />
            <label for="toggle4">Content #4</label>
            
            <section id="content4">
              <p>
                Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
              </p>
              <p>
                Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
              </p>
            </section>

          </div>
        </section>
      </div>

      <div class="card-group">
        <div class="card-group-title">
          <p class="title"><span class="bold">Instructors </span></p>
          <p class="subtitle"></p>
        </div>
        <section>
          <div class="row">

            <div class="col-lg-3 col-sm-6">
              <div class="card hovercard">
              <div class="cardheader" style="background: url('http://lorempixel.com/850/280/nature/8/');">

              </div>
              <div class="avatar">
                <img alt="" src="http://lorempixel.com/100/100/people/9/">
              </div>
              <div class="info">
                <div class="title">
                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                </div>
                <div class="desc">Passionate designer</div>
                <div class="desc">Curious developer</div>
                <div class="desc">Tech geek</div>
              </div>
              <div class="bottom">
                <a class="btn round btn-danger btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                <i class="fa fa-twitter"></i>
                </a>
                <a class="btn round btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
                <i class="fa fa-google-plus"></i>
                </a>
                <a class="btn round btn-danger btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                <i class="fa fa-facebook"></i>
                </a>
                <a class="btn round btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                <i class="fa fa-behance"></i>
                </a>
              </div>
              </div>
            </div>

          </div>

        </section>
      </div>

      <div class="card-group">
        <div class="card-group-title">
          <p class="title"><span class="bold">Comments </span></p>
          <p class="subtitle">
            No comments yet...
          </p>
        </div>

        <section>
          <div class="row">
          
          <div class="timeline-centered">

            <article class="timeline-entry">
            <div class="timeline-entry-inner">

              <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
              <i class="entypo-flight"></i> +
              </div>

              <div class="timeline-label">
              <h2><a href="#">FORM</a> <span></span></h2>
              <p>&nbsp;</p>
              </div>

            </div>
            </article>

            <article class="timeline-entry">
            <div class="timeline-entry-inner">

              <div class="timeline-icon" style="background-image: url('http://lorempixel.com/100/100/people/3/')">
              <i class="entypo-feather"></i>
              </div>

              <div class="timeline-label">
              <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
              <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
              </div>
            </div>
            </article>

            <article class="timeline-entry">
            <div class="timeline-entry-inner">

              <div class="timeline-icon" style="background-image: url('http://lorempixel.com/100/100/people/9/')">
              <i class="entypo-suitcase"></i>
              </div>

              <div class="timeline-label">
              <h2><a href="#">Job Meeting</a></h2>
              <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
              </div>
            </div>
            </article>

            <article class="timeline-entry">
            <div class="timeline-entry-inner">

              <div class="timeline-icon" style="background-image: url('http://lorempixel.com/100/100/people/7/')">
              <i class="entypo-location"></i>
              </div>

              <div class="timeline-label">
              <h2><a href="#">Arlind Nushi</a> <span>checked in at</span> <a href="#">Laborator</a></h2>

              <blockquote>Great place, feeling like in home.</blockquote>

              
              </div>
            </div>
            </article>

            <article class="timeline-entry">
            <div class="timeline-entry-inner">

              <div class="timeline-icon" style="background-image: url('http://lorempixel.com/100/100/people/4/')">
              <i class="entypo-camera"></i>
              </div>

              <div class="timeline-label">
              <h2><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h2>

              <blockquote>Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>

              </div>
            </div>
            </article>

          </div>
          </div>
        </section>
      </div>

    </div>
    <!--/.Section-->
  </div>
</div>