<div class="row" *ngIf="_errorMessage">
  <div class="col-sm-12">
    <p class="alert alert-danger">{{_errorMessage}}</p>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!_school && !_errorMessage">
  <span class="spinner"></span>
</div>
<div class="animated fadeIn" *ngIf="_school">
  <div class="school-profile">

    <div class="row section">
      <div class="col-md-8">

        <div class="card-group">
          <div class="card-group-title">
            <p class="title"><span class="bold">{{_school.name}}, </span>at {{_school.location?.geography.cityName}}</p>
            <p class="subtitle">{{_school.description}}</p>
          </div>
        </div>

        <div class="card-group">
          <div class="card-group-title">
            <p class="title"><span class="bold">Facilities </span></p>
            <p class="subtitle"></p>
          </div>

          <section class="facilities">
            <div class="row">
              <div class="col-md-4">
                <div class="feature on"><i class="fa fa-check"></i> Wifi</div>
              </div>
              <div class="col-md-4">
                <div class="feature off"><i class="fa fa-close"></i> Facility Off</div>
              </div>
              <div class="col-md-4">
                <div class="feature off"><i class="fa fa-close"></i> Facility Off</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="feature on"><i class="fa fa-check"></i> Facility On</div>
              </div>
              <div class="col-md-4">
                <div class="feature off"><i class="fa fa-close"></i> Facility Off</div>
              </div>
              <div class="col-md-4">
                <div class="feature on"><i class="fa fa-check"></i> Facility On</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="feature on"><i class="fa fa-check"></i> Facility On</div>
              </div>
              <div class="col-md-4">
                <div class="feature off"><i class="fa fa-close"></i> Facility Off</div>
              </div>
              <div class="col-md-4">
                <div class="feature off"><i class="fa fa-close"></i> Facility Off</div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!--School & Menu-->
      <div class="col-md-4">
        <!--Card-->
        <div class='card'>
          <div class='pic' [style.background]="_bgImage">
          </div>
          <div class='content'>
            <div class='header'>
              <div class='mainTitle'>
                <h1>{{_school.name}}</h1>
                <h3> {{_school.about}} </h3>
              </div>
            </div>
            <div class="activities">
              
            </div>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--/.School & Menu-->

    </div>

    <div class="card-group">
      <div class="card-group-title">
        <p class="title"><span class="bold">Courses </span></p>
        <p class="subtitle" *ngIf="!_school.courses">No courses registered yet...</p>
      </div>

      <section class="facilities" *ngIf="_school.courses">
        <section class="small-cards">
          <div class="h-scroll">
            <small-card *ngFor="let course of _school.courses" [course]="course" (click)="viewCourse(course.courseId)"></small-card>
          </div>
        </section>
        <hr class="divisor"><a href="#">View all</a>
      </section>
    </div>

    <div class="card-group">
      <div class="card-group-title">
        <p class="title"><span class="bold">Comments </span></p>
        <p class="subtitle" *ngIf="!_school.ratings">No comments yet...</p>
      </div>

      <section class="facilities" *ngIf="_school.ratings">
        <div class="col-md-12">
        
        </div>
      </section>
    </div>

    <div class="card-group">
      <div class="card-group-title">
        <p class="title"><span class="bold">Contact </span></p>
        <p class="subtitle">Send a message to this school...</p>
      </div>

      <section class="contact-chat">
        <div class="col-md-12">
          <!-- <open-chat-button []=""></open-chat-button> -->
          <button class="btn btn-primary" (click)="createThread()">
            <i class="ion-plus-round"></i>
            &nbsp;
            Open Chat
          </button>
        </div>
        <div class="col-md-12">
          Or send an email through the form bellow
        </div>
      </section>

      <section class="contact-form">
        <div class="col-md-12">
          <form [formGroup]="_form" (ngSubmit)="onSubmit()">
            <div class="card-block">
              <div class="form-group-wrapper row">
                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'has-danger': !_isValid('name')}">
                    <label class="col-sm-12" for="name">Name <span class="required">*</span></label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="name" placeholder="Enter your name" [formControl]="_form.controls['name']" [ngClass]="{'form-control-danger': !_isValid('name')}" [(ngModel)]="_message.name" />
                    </div><div class="clearfix"></div>
                    <div class="col-sm-12" *ngIf="!_formErrors.name.valid">
                      <span class="help-block help-block-error">{{_formErrors.name.message}}</span>
                    </div>
                    <div class="col-sm-12">
                      <p class="help-text">* complete name</p>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-danger': !_isValid('email')}">
                    <label class="col-sm-12" for="email">Email Address <span class="required">*</span></label>
                    <div class="col-sm-12">
                      <input type="email" class="form-control" id="email" placeholder="Enter your email address" [formControl]="_form.controls['email']" [ngClass]="{'form-control-danger': !_isValid('email')}" [(ngModel)]="_message.email" />
                    </div><div class="clearfix"></div>
                    <div class="col-sm-12" *ngIf="!_formErrors.email.valid">
                      <span class="help-block help-block-error">{{_formErrors.email.message}}</span>
                    </div>
                    <div class="col-sm-12">
                      <p class="help-text">* Email must be valid email address. i.e. sample@name.com.</p>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-danger': !_isValid('subject')}">
                    <label class="col-sm-12" for="subject">Subject <span class="required">*</span></label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="subject" placeholder="Enter the subject" [formControl]="_form.controls['subject']" [ngClass]="{'form-control-danger': !_isValid('subject')}" [(ngModel)]="_message.subject"/>
                    </div><div class="clearfix"></div>
                    <div class="col-sm-12" *ngIf="!_formErrors.subject.valid">
                      <span class="help-block help-block-error">{{_formErrors.subject.message}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'has-danger': !_isValid('message')}">
                    <label class="col-sm-12" for="message">Message <span class="required">*</span></label>
                    <div class="col-sm-12">
                      <textarea rows="13" class="form-control" id="message" placeholder="Enter the message" [formControl]="_form.controls['message']" [ngClass]="{'form-control-danger': !_isValid('message')}" [(ngModel)]="_message.message"></textarea>
                    </div><div class="clearfix"></div>
                    <div class="col-sm-12" *ngIf="!_formErrors.message.valid">
                      <span class="help-block help-block-error">{{_formErrors.message.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="form-group-wrapper row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6 text-sm-right" style="padding-right: 30px;">
                  <button type="submit" class="btn btn-primary" [disabled]="!_form.valid || _submitted == true">Send</button>
                  <div class="spinner spinner-login" *ngIf="_submitted"></div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </section>
    </div>

  </div>
</div>