<div id="chatbox">
  <div id="chatview" class="p1">      
    <div id="profile">

        <div id="close">
            <div class="cy"></div>
            <div class="cx"></div>
        </div>
        
        <p>{{currentThread.name}}</p>
        <span>support@lsa.com.au</span>
    </div>

    <div id="chat-messages">
      <label>Thursday 02</label>

      <div class="message">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
        <div class="bubble">
          Really cool stuff!
          <div class="corner"></div>
          <span>3 min</span>
        </div>
      </div>
        
      <div class="message right">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
        <div class="bubble">
          Can you share a link for the tutorial?
          <div class="corner"></div>
          <span>1 min</span>
        </div>
      </div>
      
      <div class="message">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
        <div class="bubble">
          Yeah, hold on
          <div class="corner"></div>
          <span>Now</span>
        </div>
      </div>
      
      <div class="message right">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
        <div class="bubble">
          Can you share a link for the tutorial?
          <div class="corner"></div>
          <span>1 min</span>
        </div>
      </div>
      
      <div class="message">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
        <div class="bubble">
          Yeah, hold on
          <div class="corner"></div>
          <span>Now</span>
        </div>
      </div>

      <chat-message *ngFor="let message of messages | async" [message]="message"></chat-message>

    </div>

    <div id="sendmessage">
      <input type="text" placeholder="Send message..." (keydown.enter)="onEnter($event)" [(ngModel)]="draftMessage.text" />
      <button id="send" (click)="onEnter($event)"></button>
    </div>

  </div>        
</div>
<div class="footer-line"></div>