<div id="chatbox" class="collapsed">
  <div id="chatview" class="p1">      
    <div id="profile">

        <div id="close" (click)="toggleWindow($event)">
            <div class="cy"></div>
            <div class="cx"></div>
        </div>
        
        <p>{{currentThread.name}}</p>
        <span>support@lsa.com.au</span>
    </div>

    <div id="chat-messages">
      <chat-message *ngFor="let message of messages | async" [message]="message"></chat-message>
    </div>

    <div id="sendmessage">
      <input type="text" placeholder="Send message..." (keydown.enter)="onEnter($event)" [(ngModel)]="draftMessage.text" />
      <button id="send" (click)="onEnter($event)"></button>
    </div>

  </div>        
</div>
<div class="footer-line"></div>