<div class="row" *ngIf="_errorMessage">
  <div class="col-sm-12">
    <p class="alert alert-danger">{{_errorMessage}}</p>
  </div>
</div>

<div class="animated fadeIn" *ngIf="!_school && !_errorMessage">
  <span class="spinner"></span>
</div>

<div class="animated fadeIn" *ngIf="_mode">
  <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="_form" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-create" *ngIf="_mode == 'create'">
                            <strong>Register School</strong>
                        </div>
                        <div class="update" *ngIf="_mode == 'update'">
                            <strong>School - {{_school.name}}</strong><br />
                            <small>Update School</small>
                        </div>
                    </div>

                    <div class="card-block">

                        <h1>User Credentials</h1>
                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('user.username')}">
                                <label class="col-sm-12" for="username">Username <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="username" placeholder="Enter username" [formControl]="_form.controls['user'].controls[0].controls['username']" [ngClass]="{'form-control-danger': !_isValid('user.username')}" [(ngModel)]="_school.user.username" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.username.valid">
                                    <span class="help-block help-block-error">{{_formErrors.username.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Username only allows alphanumeric, underscore and dashboard between 3 and 15 characters. i.e. sampleusername</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('user.email')}">
                                <label class="col-sm-12" for="email">Email Address <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="email" placeholder="Enter the email address" [formControl]="_form.controls['user'].controls[0].controls['email']" [ngClass]="{'form-control-danger': !_isValid('user.email')}" [(ngModel)]="_school.user.email" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.email.valid">
                                    <span class="help-block help-block-error">{{_formErrors.email.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Email must be valid email address. i.e. sample@username.com.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('user.password')}">
                                <label class="col-sm-12" for="password">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="password" placeholder="Enter the password" [formControl]="_form.controls['user'].controls[0].controls['password']" [ngClass]="{'form-control-danger': !_isValid('user.password')}" [(ngModel)]="_school.user.password"/>
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.password.valid">
                                    <span class="help-block help-block-error">{{_formErrors.password.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Password must be more than 6 characters.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('user.confirmPassword')}">
                                <label class="col-sm-12" for="confirmPassword">Confirm Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Enter the password" [formControl]="_form.controls['user'].controls[0].controls['confirmPassword']" [ngClass]="{'form-control-danger': !_isValid('user.confirmPassword')}" [(ngModel)]="_confirmPassword"/>
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.confirmPassword.valid">
                                    <span class="help-block help-block-error">{{_formErrors.confirmPassword.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Password must be more than 6 characters.</p>
                                </div>
                            </div>
                        </div>


                        <h1>School Information</h1>
                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('name')}">
                                <label class="col-sm-12" for="name">Name <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" placeholder="Enter your name" [formControl]="_form.controls['name']" [ngClass]="{'form-control-danger': !_isValid('name')}" [(ngModel)]="_school.name" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.name.valid">
                                    <span class="help-block help-block-error">{{_formErrors.name.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Name only allows letters, to a maximum of 80 characters.</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('about')}">
                                <label class="col-sm-12" for="about">About </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="about" placeholder="Short description" [formControl]="_form.controls['about']" [ngClass]="{'form-control-danger': !_isValid('about')}" [(ngModel)]="_school.about" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.about.valid">
                                    <span class="help-block help-block-error">{{_formErrors.about.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text"> </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('description')}">
                                <label class="col-sm-12" for="description">Description <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="description" placeholder="Enter a longer description" [formControl]="_form.controls['description']" [ngClass]="{'form-control-danger': !_isValid('description')}" [(ngModel)]="_school.description" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.description.valid">
                                    <span class="help-block help-block-error">{{_formErrors.description.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text"> </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('abn')}">
                                <label class="col-sm-12" for="abn">ABN <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="abn" placeholder="Enter the ABN" [formControl]="_form.controls['abn']" [ngClass]="{'form-control-danger': !_isValid('abn')}" [(ngModel)]="_school.abn" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.abn.valid">
                                    <span class="help-block help-block-error">{{_formErrors.abn.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text"> </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('cricos')}">
                                <label class="col-sm-12" for="cricos">CRICOS <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="cricos" placeholder="Enter the CRICOS number" [formControl]="_form.controls['cricos']" [ngClass]="{'form-control-danger': !_isValid('cricos')}" [(ngModel)]="_school.cricos" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.cricos.valid">
                                    <span class="help-block help-block-error">{{_formErrors.cricos.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text"> </p>
                                </div>
                            </div>
                        </div>

                        <!-- location -->
                        <h1>Location</h1>
                        <google-map (change)="fillLocation($event)"></google-map>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('location.address2')}">
                                <label class="col-sm-12" for="address2">Address 2 <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="address2" placeholder="Any complement on the address" [formControl]="_form.controls['location'].controls[0].controls['address2']" [ngClass]="{'form-control-danger': !_isValid('location.address2')}" [(ngModel)]="_school.location.address2" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.location.valid">
                                    <span class="help-block help-block-error">{{_formErrors.location.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Complement like apt number</p>
                                </div>
                            </div>
                        </div>
                        <!-- ./ location -->

                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Save</button>
                                <div *ngIf="_submitted" class="spinner"></div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a [routerLink]="['/school']" class="btn btn-sm btn-warning"><i class="fa fa-arrow-left"></i> Back to list</a>
                            </div>
                            <div *ngIf="_errorMessage" class="col-xs-12 error-block mt-h">
                                <div class="alert alert-danger">{{_errorMessage}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>